---
import { Image } from "astro:assets";
import { BASE_URL, ROUTES } from "../../config/site";
import type { Post } from "../../types";
import ArticleMeta from "./ArticleMeta.astro";
import Button from "../Button.astro";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*');

const { post } = Astro.props as { post: Post };

let optimizedImage;
if (post.data.image) {
  const imagePath = post.data.image.replace('/images/', '/src/assets/images/');
  if (images[imagePath]) {
    optimizedImage = (await images[imagePath]()).default;
  }
}
---

<article class={`post-card${post.data.image ? ' has-image' : ''}`}>
  <div>
  {optimizedImage && (
    <Image 
      src={optimizedImage} 
      alt={post.data.title} 
      class="post-image"
      widths={[300, 600, 900]}
      sizes="(max-width: 900px) 50vw, 300px"
    />
  )}
  </div>
  <div class="post-content">
    <ArticleMeta {post} isStub={true} useShareButton={false} />
    <Button variant="secondary" href={`${BASE_URL}${ROUTES.news}${post.slug}/`}>Read More</Button>
  </div>
</article>

<style>
  @layer components {
    .post-card.has-image {
      @container (width > 600px) and (width < 900px) {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
      }
    }
    .post-image {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      @container (width > 600px) and (width < 900px) {
        aspect-ratio: 3 / 4;
      }
    }
    .post-content {
      padding: 1.5rem;
      display: grid;
      align-items: start;
      align-content: space-between;
    }
    .read-more {
      font-family: var(--ff-heading);
      font-size: 1rem;
      color: var(--paper);
      text-decoration-color: var(--bright-red);
    }
    .read-more:hover {
      text-decoration: none;
    }
  }
</style>
