---
import { BASE_URL, ROUTES } from "../../config/site";
import type { Post } from "../../types";
import ArticleMeta from "./ArticleMeta.astro";
import Button from "../Button.astro";

const { post } = Astro.props as { post: Post };
const featuredImage = post.data.image;
---

<article class={`post-card${featuredImage ? ' has-image' : ''}`}>
  {featuredImage && (
  <div class="post-card-image-wrapper">
    <img 
      src={featuredImage} 
      alt={post.data.title} 
      class="post-image"
      loading="eager"
    />
  </div>
  )}
  <div class="post-content">
    <ArticleMeta {post} isStub={true} useShareButton={false} />
    <div class="post-footer">
      <Button 
        width="full" 
        variant="secondary" 
        href={`${BASE_URL}${ROUTES.news}${post.slug}/`}
      >
        Read More
      </Button>
    </div>
  </div>
</article>

<style>
  @layer components {
    .post-card.has-image {
      display: grid;
      align-content: start;
      grid-template-rows: auto 1fr;
      @container (width > 600px) and (width < 900px) {
        grid-template-columns: 0.5fr 1fr;
      }
    }
    .post-card-image-wrapper {
      overflow: hidden;
      aspect-ratio: 4 / 3;
      @container (width > 600px) and (width < 900px) {
        aspect-ratio: 3 / 4;
      }
    }
    .post-image {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
    .post-content {
      padding: 1.5rem;
      display: grid;
      align-items: start;
      align-content: space-between;
      block-size: 100%;
      box-sizing: border-box;
    }
    .post-footer {
      align-self: end;
    }
    .read-more {
      font-family: var(--ff-heading);
      font-size: 1rem;
      color: var(--paper);
      text-decoration-color: var(--bright-red);
    }
    .read-more:hover {
      text-decoration: none;
    }
  }
</style>
