---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import { Icon } from 'astro-icon/components';
import { BASE_URL, ROUTES } from "../config/site";

const currentPath = Astro.url.pathname;
const navItems = [
  { label: 'About', href: BASE_URL + ROUTES.about, class: 'hide-for-sm hide-for-md' },
	{ label: 'Classes', href: BASE_URL + '#classes', class: 'hide-for-sm hide-for-md' },
	{ label: 'Free Trial', href: BASE_URL + '#trial', class: 'hide-for-sm hide-for-md' },
  { label: 'Gallery', href: BASE_URL + ROUTES.gallery, class: 'hide-for-sm' },
  { label: 'News', href: BASE_URL + ROUTES.news, class: 'hide-for-sm' },
	{ label: 'Contact', href: BASE_URL + '#contact', class: 'hide-for-sm' },
];
---

<header aria-label="Site header">
	<div>
		<div class="site-logo">
			<Image src={logo} alt="Dojo seal" width={50} height={50} fetchpriority="high" />
			<a href={BASE_URL}>
				Dean's Okinawan <br aria-hidden="true" /> Martial Arts
			</a>
		</div>
		<nav aria-label="Site navigation">
			{navItems.map(item => (
			<a 
				href={item.href}
				aria-current={currentPath.startsWith(item.href) ? 'page' : undefined}
				class={item.class}
			>
				{item.label}
			</a>
			))}
			<a class="show-for-sm" aria-label="Contact" href={BASE_URL + '#contact'}><Icon name="phone" size="24px" /></a>
		</nav>
	</div>
</header>

<style>
	@layer components {
		header {
			container: header / inline-size;
			background: linear-gradient(to bottom, rgba(15, 12, 10, 0.98), rgba(15, 12, 10, 0.75));
			border-bottom: 1px solid rgba(194, 189, 181, 0.15);
			position: fixed;
			inline-size: 100%;
			top: 0;
			z-index: 9;
		}
		header > div {
			min-block-size: var(--header-height);
			display: grid;
			gap: 2rem;
			grid-template-columns: auto 1fr;
			justify-items: flex-end;
			align-items: center;
			box-sizing: border-box;
			padding: 0.5rem 1rem;
			@container header (width >= 900px) {
				padding: 0.9rem 3rem;
			}
		}
		.site-logo {
			position: relative;
			display: grid;
			gap: 1rem;
			align-items: center;
			grid-template-columns: 50px auto;
		}
		nav {
			display: flex;
			gap: 2rem;
		}
		a {
			font-family: var(--ff-heading);
			display: block;
			text-decoration: none;
			font-size: 0.85rem;
			letter-spacing: 0.2em;
			color: var(--silver);
			text-transform: uppercase;
		}
		a[aria-current='page'] {
			text-decoration: underline;
			text-decoration-color: var(--bright-red);
			text-decoration-thickness: 2px;
		}
		nav a:hover {
			text-decoration: underline;
		}
		.site-logo a::after {
			inline-size: 100%;
			block-size: 100%;
			content: '';
			position: absolute;
			inset: 0;
		}
	}
</style>
