---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import { Icon } from 'astro-icon/components';
import { BASE_URL, ROUTES } from "../config/site";

const latestNews = await getCollection("blog");
const latestPhotos = await getCollection("gallery");

const currentPath = Astro.url.pathname;
let navItems = [
  { label: 'About', href: BASE_URL + ROUTES.about, class: 'hide-for-sm hide-for-md' },
	{ label: 'Classes', href: BASE_URL + '#classes', class: 'hide-for-sm hide-for-md' },
	{ label: 'Free Trial', href: BASE_URL + '#trial', class: 'hide-for-sm hide-for-md' },
  { label: 'Gallery', href: BASE_URL + ROUTES.gallery, class: 'hide-for-sm' },
  { label: 'News', href: BASE_URL + ROUTES.news, class: 'hide-for-sm' },
	{ label: 'FAQs', href: BASE_URL + ROUTES.faqs, class: 'hide-for-sm' },
	{ label: 'Contact', href: BASE_URL + '#contact', class: 'hide-for-sm' },
];

navItems = navItems.filter(item => {
  if (item.label === 'News' && latestNews && latestNews.length === 0) return false;
  if (item.label === 'Gallery' && latestPhotos && latestPhotos.length === 0) return false;
  return true;
});	

---

<header aria-label="Site header">
	<div>
		<div class="site-logo">
			<Image src={logo} alt="Dojo seal" width={50} height={50} fetchpriority="high" />
			<a href={BASE_URL}>
				Dean's Okinawan <br aria-hidden="true" /> Martial Arts
			</a>
		</div>
		<nav aria-label="Site navigation" class="nav-large">
			<a class="show-for-sm" aria-label="Contact" href={BASE_URL + '#contact'}><Icon name="phone" size="24px" /></a>
			<button 
				type="button" 
				class="show-for-sm" 
				aria-label="Toggle main menu" 
				aria-haspopup="dialog"
				aria-controls="sm-nav"
				data-toggle="nav-menu"
			>
				<Icon name="menu" size="28px" />
			</button>
			{navItems.map(item => (
			<a 
				href={item.href}
				aria-current={currentPath.startsWith(item.href) ? 'page' : undefined}
				class={item.class}
			>
				{item.label}
			</a>
			))}
		</nav>
	</div>
</header>
<dialog id="nav-menu">
	<button type="button" aria-label="Close menu" data-toggle="nav-menu" aria-controls="nav-menu">
		<Icon name="close" size="28px" />
	</button>
	<nav aria-label="Site navigation"  class="nav-dialog">
		<a 
			href={BASE_URL + ROUTES.home}
			aria-current={currentPath === BASE_URL + ROUTES.home ? 'page' : undefined}
		>
			Home
		</a>
		{navItems.map(item => (
		<a 
			href={item.href}
			aria-current={currentPath.startsWith(item.href) ? 'page' : undefined}
		>
			{item.label}
		</a>
		))}
	</nav>
</dialog>

<script>
	const menuToggleButtons = document.querySelectorAll('[data-toggle="nav-menu"]');
	const navDialog = document.getElementById('nav-menu') as HTMLDialogElement;
	
	menuToggleButtons.forEach(button => {
		button?.addEventListener('click', () => {
			const isOpen = navDialog instanceof HTMLDialogElement && navDialog.open;
			if (isOpen) {
				navDialog?.close();
			} else {
				navDialog?.showModal();
			}
		});
	});
	// Close even when using local anchor
	navDialog.addEventListener('click', (event) => {
		if (event.target instanceof HTMLAnchorElement) {
			navDialog.close();
		}
	});
</script>

<style>
	@layer components {
		header {
			container: header / inline-size;
			background: linear-gradient(to bottom, rgba(15, 12, 10, 0.98), rgba(15, 12, 10, 0.75));
			border-bottom: 1px solid rgba(194, 189, 181, 0.15);
			position: fixed;
			inline-size: 100%;
			top: 0;
			z-index: 9;
		}
		header > div {
			min-block-size: var(--header-height);
			display: grid;
			gap: 0.5rem;
			grid-template-columns: auto 1fr;
			justify-items: flex-end;
			align-items: center;
			box-sizing: border-box;
			padding: 0.5rem 1rem;
			@container header (width >= 900px) {
				padding: 0.9rem 3rem;
			}
		}
		.site-logo {
			position: relative;
			display: grid;
			gap: 1rem;
			align-items: center;
			grid-template-columns: 50px auto;
		}
		.nav-large {
			display: flex;
			align-items: center;
			gap: 1rem;
			@container (width >= 600px) {
				gap: 2rem;
			}
		}
		.nav-dialog {
			display: grid;
			justify-items: center;
			gap: 1rem;
			@container (width >= 600px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		dialog button {
			justify-self: end;
		}
		button {
			appearance: none;
			background: none;
			border: none;
			padding: 0;

		}
		a, button {
			font-family: var(--ff-heading);
			display: block;
			text-decoration: none;
			font-size: 0.85rem;
			letter-spacing: 0.2em;
			color: var(--silver);
			text-transform: uppercase;
		}
		a[aria-current='page'] {
			text-decoration: underline;
			text-decoration-color: var(--bright-red);
			text-decoration-thickness: 2px;
		}
		dialog a {
			font-size: 1.25rem;
		}
		nav a:hover {
			text-decoration: underline;
		}
		.site-logo a::after {
			inline-size: 100%;
			block-size: 100%;
			content: '';
			position: absolute;
			inset: 0;
		}
	}
</style>
